.u-view {
	padding: 40px 20px 0px 20px;
	&__title {
		font-size: 14px;
		margin-bottom: 10px;
	}
}

.u-block{
	padding: 14px;
	&__section{
		margin-bottom:10px;
	}
	&__title {
		margin-top:10px;
		font-size: 15px;
		color: $u-content-color;
		margin-bottom:10px;
	}
	&__flex{
		/* #ifndef APP-NVUE */
		display: flex;
		/* #endif */
	}
}

.u-page {
	padding: 0 15px;
}

.u-box {
	margin: 10px 0;
	&__title {
		font-size: 18px;
		font-weight: 600;
		margin-bottom:10px;
	}
}

.u-demo-block {
	margin-bottom: 23px;
	
	&__title {
		font-size: 14px;
		color: $uni-text-color;
		margin-bottom: 20px;
		padding-bottom: 20px;
		
	}
	
	&__content {
		margin-top: 10rpx;
		/* #ifndef APP-NVUE */
		display: flex;
		/* #endif */
	}
}

