.u-page {
    padding: 0 15px;
}

// 大盒子
.u-box {
    margin: 10px 0 30px;

    &__title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 10px;
        color: $u-main-color;
    }
}

// 小盒子
.u-demo-block {
    margin-bottom: 23px;

    &__title {
        font-size: 14px;
        color: $uni-text-color;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    &__content {
        margin-top: 10rpx;
        /* #ifndef APP-NVUE */
        display: flex;
        /* #endif */
    }
}